* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background: #f1f5f8;
    color: #222;
}

.container {
    width: 90vw;
    max-width: 1170px;
    margin: 1rem auto;
}

.container h1 {
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.book-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.container form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.4rem;
}

.container form input {
    height: 32px;
    min-width: 254px;
    padding: 8px;
    border: none;
}

.container form button {
    padding: 0 1rem;
    border: none;
    background-color: #e0d0b3;
}

.container form button:hover {
    background-color: #d17938;
}

.book {
    background: #fff;
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
}

.book img {
    width: 100%;
    object-fit: cover;
}

.book h2 {
    margin: 1rem 0 0.5rem 0;
    font-size: 1.6rem;
}

.book h4 {
    color: #8f806b;
    font-size: 1rem;
}

.book button {
    background-color: #e0d0b3;
    padding: 0.6rem 0.8rem;
    font-size: 0.8rem;
    /* text-transform: uppercase; */
    border: none;
    border-radius: 8px;
    margin-top: 1rem;
}

.book button:hover {
    background-color: #d17938;
}
